<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Divegold - Reserva</title>
  <!-- Login CSS -->
  <link href="css/divegold.min.css" rel="stylesheet">
  <!-- JS  -->
  <script src="js/divegold.min.js"></script>
  <!-- <script type="text/javascript" src="js/reserva.js"></script> -->

  <!-- Logo -->
  <link rel="icon" type="image/png" href="https://s3-sa-east-1.amazonaws.com/felipemedia/divegold_logo.png">
</head>

<body>
  <div class="center container">
    <div class="reserva">

      <!-- Dados Pessoais -->
      <div id="dadosPessoais">

        <div class="outerCadastro">

          <div class="panel panel-default divCadastro">

            <div class="panel-heading header">
              <div class="headerContent">
                <img src="https://s3-sa-east-1.amazonaws.com/felipemedia/divegold_logo.png" width="35" height="35" alt="DiveGold Logo">
                <h3 class="panel-title">Reserva Divegold</h3>
              </div>
            </div>

            <div class="panel-body">

              <div class="headerSection">
                <h3 class="panel-title">
                  <i class="glyphicon glyphicon glyphicon-pencil"></i> Dados Cadastrais
                  <i class="glyphicon info glyphicon-info-sign" data-toggle="tooltip" data-placement="bottom" title="Informe seus dados cadastrais. Caso tenha se cadastrado previamente, basta inserir o seu CPF e atualizar os demais campos cadastrais com as informações atuais. Lembre-se que o seu email e telefone(s) são as formas de contato utilizadas pela DIVEGOLD."></i>
                </h3>
              </div>

              <form id="formReserva" class="form-horizontal row-border" data-toggle="validator" action="#">

                <div class="form-group">
                  <p id="firstAccess" hidden>true</p>
                  <label class="col-md-2 col-xs-12 control-label">
                    <input id="cpfRadio" type="radio" name="cpfCnpjRadio"> CPF*</label>
                  <div class="col-md-10 col-xs-12">
                    <div class="row">
                      <div class="col-md-3 col-xs-7">
                        <input id="cpf" type="text" name="cpf" class="form-control" placeholder="">
                        <div class="help-block with-errors"></div>
                      </div>
                      <label class="col-md-2 col-xs-12 control-label">
                        <input id="cnpjRadio" type="radio" name="cpfCnpjRadio"> CNPJ*</label>
                      <div class="col-md-4 col-xs-7">
                        <input id="cnpj" type="text" name="cnpj" class="form-control" placeholder="">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-2 control-label">Nome*</label>
                  <div class="col-md-10">
                    <input id="userName" type="text" name="username" class="form-control">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-2 col-xs-2 control-label">CEP*</label>
                  <div class="col-md-2 col-xs-5">
                    <input id="cep" type="text" name="cep" class="form-control" placeholder="">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-2 col-xs-2 control-label">Endereço</label>
                  <div class="col-md-10">
                    <input id="rua" type="text" name="address" class="form-control">
                  </div>
                </div>
                <div class="form-group">

                  <div class="col-md-12">
                    <div class="row">
                      <label class="col-md-2 col-xs-12 control-label">Número</label>
                      <div class="col-lg-2 col-md-2 col-xs-12">
                        <input id="numero" type="text" name="number" class="form-control" placeholder="">
                      </div>
                      <label class="col-md-2 col-xs-12 control-label">Complemento</label>
                      <div class="col-lg-2 col-md-2 col-xs-12">
                        <input id="comp" type="text" class="form-control" name="comp" placeholder="">
                      </div>
                      <label class="col-md-1 col-xs-2 control-label">Bairro</label>
                      <div class="col-lg-3 col-md-3 col-xs-12">
                        <input id="bairro" type="text" name="region" class="form-control" placeholder="">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 col-xs-12 control-label">Cidade</label>
                  <div class="col-md-10 col-xs-12">
                    <div class="row">
                      <div class="col-md-8 col-xs-12">
                        <input id="cidade" type="text" name="city" class="form-control" placeholder="">
                      </div>
                      <label class="col-md-2 col-xs-12 control-label">UF</label>
                      <div class="col-md-2 col-sm-3 col-xs-4">
                        <input id="uf" type="text" name="uf" class="form-control" placeholder="">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 col-sm-4 col-xs-12 control-label">Telefone Fixo</label>
                  <div class="col-md-10">
                    <div class="row">
                      <div class="col-md-4 col-xs-7">
                        <input id="tel" type="text" class="form-control cel" name="tel" placeholder="">
                      </div>
                      <label class="col-md-4 col-sm-4 col-xs-12 control-label">Telefone Celular*</label>
                      <div class="col-md-4 col-xs-7">
                        <input id="cel" type="text" class="form-control cel col-xs-4" name="cel" placeholder="">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 col-xs-12 control-label">email</label>
                  <div class="col-md-10 col-xs-12">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <input id="email" class="form-control" type="email" placeholder="email@dominio.com" name="email">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 col-xs-12 control-label">Nível do Mergulhador* <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Informe seu maior nível de certificação. Você deverá apresentar seu certificado na data do mergulho."></i></label>
                  <div class="col-md-10 col-xs-12">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <!-- Split button -->
                        <div class="btn-group">
                          <button id="btnNivelMergulho" type="button" class="btn btn-info">Selecione</button>
                          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <ul id="comboNivelMergulho" class="dropdown-menu" role="menu">
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Dados de Mergulho -->
                <div id="dadosMergulho">

                  <div class="headerSection">
                    <h3 class="panel-title">
                        <i class="glyphicon glyphicon glyphicon-calendar"></i> Datas de Mergulhos*
                        <i class="glyphicon info glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Selecione as datas desejadas. Suas escolhas estão sujeitas à disponibilidade de lugares na Mina da Passagem."></i>
                    </h3>
                  </div>

                  <div class="panel-body">
                    <div class="form-group row">
                      <label class="col-md-1 col-xs-2 control-label">Data</label>
                      <div class="col-md-3 col-xs-6">
                        <input id="dataMergulho" type="text" name="regular" class="form-control">
                      </div>
                      <div class="col-md-1 col-xs-12 btnAddDate">
                        <button type="button" class="btn btn-success btn-raised" id="btnAddDate">
                          <span class="glyphicon glyphicon-plus-sign"></span> Adicionar
                        </button>
                      </div>
                    </div>
                    <div class="col-md-12 col-xs-12 datasReserva">
                    </div>
                  </div>


                  <!-- Escolha de tanques e gases -->
                  <div id="tanquesGases">

                    <div class="headerSection">
                      <h3 class="panel-title">
                        <i class="glyphicon glyphicon-tint"></i> Escolha de Tanques e Gases*
                        <i class="glyphicon info glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Em caso de dúvidas favor entrar em contato com a DIVEGOLD."></i>
                      </h3>
                    </div>
                    <div class="gasTypesRowDates">

                      <div class="form-group gasTypesRow">

                        <div class='row bottom'>
                          <label class="col-md-2 col-xs-12 control-label">Data inicial de uso</label>
                          <div class="col-md-3 col-xs-12">
                            <div class="btn-group">
                              <button id="btnDatas" type="button" class="btn btn-info">Selecione</button>
                              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                              </button>
                              <ul id="comboDatas" class="dropdown-menu" role="menu">
                              </ul>
                            </div>
                          </div>

                          <label class="col-md-2 col-xs-12 control-label">Cilindro</label>
                          <div class="col-md-4 col-xs-12">
                            <div class="btn-group">
                              <button id="btnCilindro" type="button" class="btn btn-info">Selecione</button>
                              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                              </button>
                              <ul id="comboCilindro" class="dropdown-menu" role="menu">
                                <!-- <li><a href="#">Tank 1</a></li> -->
                              </ul>
                            </div>
                          </div>
                        </div>

                        <div class='row bottom'>

                          <label class="col-md-2 col-xs-12 control-label">Data final de uso</label>
                          <div class="col-md-3 col-xs-12">
                            <div class="btn-group">
                              <button id="btnDatasFim" type="button" class="btn btn-info">Selecione</button>
                              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                              </button>
                              <ul id="comboDatasFim" class="dropdown-menu" role="menu">
                              </ul>
                            </div>
                          </div>


                          <label class="col-md-2 col-xs-12 control-label">Gases</label>
                          <div class="col-md-4  col-xs-12">
                            <div class="btn-group">
                              <button id="btnGases" type="button" class="btn btn-info">Selecione</button>
                              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                              </button>
                              <ul id="comboGases" class="dropdown-menu" role="menu">
                                <!-- <li><a href="#">Gas 1</a></li> -->
                              </ul>
                            </div>
                          </div>
                        </div>

                        <div class='row'>
                          <label class="col-md-2 col-xs-12 control-label"></label>
                          <div class="col-md-3 col-xs-12 divAddTank">
                            <button type="button" class="btn btn-success btn-raised btnAddTanque" disabled>
                              <span class="glyphicon glyphicon-plus-sign"></span> Adicionar
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <hr>

                    <!-- <div class='form-group row gasTypesRowSet well'>
                          <div class='row bottom'>
                            <label class='col-md-2 col-xs-12 control-label'>Data inicial de uso</label>
                            <div class='col-md-2 col-xs-12'>
                              <input type='text' name='diveDateIn' class='form-control dateSet' value='{{date}}' disabled>
                            </div>
                            <label class='col-md-2  col-xs-12 control-label'>Cilindro</label>
                            <div class='col-md-2 col-xs-12'>
                              <input type='text' name='tankType' typeId='{{cilindroId}}' class='form-control' value='{{cilindro}}' disabled>
                            </div>
                          </div>
                          <div class='row bottom'>
                            <label class='col-md-2 col-xs-12 control-label'>Data final de uso</label>
                            <div class='col-md-2 col-xs-12'>
                              <input type='text' name='diveDateOut' class='form-control dateSet' value='{{date}}' disabled>
                            </div>
                            <label class='col-md-2 col-xs-12 control-label'>Gases</label>
                            <div class='col-md-2  col-xs-12'>
                              <input type='text' name='gasType' class='form-control' typeId='{{gasId}}' value='{{gas}}' disabled>
                            </div>
                            <div class='col-md-1 col-xs-12 divRemoveTank'>
                              <button type='button' class='btn btn-danger btn-sm btnRemoveTanque btn-xs'><span class='glyphicon glyphicon-remove-sign'></span></button>
                            </div>
                          </div>
                        </div> -->

                    <div class="form-group">
                      <label class="col-md-2 col-xs-12 control-label">Observações da reserva <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Preencha com informações complementares e observações sobre sua reserva, como por exemplo: horário de chegada, necessidades especiais, locais desejados para mergulho, etc. A DIVEGOLD fará o possível para atender suas solicitações."></i></label>

                      <div class="col-md-10 col-xs-12">
                        <textarea id="obsReserva" class="form-control floating-label" data-hint="Oberservações sobre a reserva" placeholder="Observações" rows="3"></textarea>
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>

                    <div class="panel-body">


                      <div class="form-group row">

                        <div class="col-md-11 col-xs-11 bold">
                          <input id="checkEquipamentos" type="checkbox" value="equipamentos"> Reservar Equipamentos
                          <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Informe a quantidade desejada de cada equipamento. Suas escolhas estão sujeitas à disponibilidade de estoque."></i>
                        </div>
                      </div>

                      <div id="equipamentos" class="">
                        <div class="form-group row miniHeader">
                          <label class="col-md-5 col-xs-8 row">Selecione os equipamentos desejados (Qtd.):</label>
                        </div>


                        <div class="form-group">
                          <label class="col-md-2 col-xs-12 control-label">Asa Simples</label>
                          <div class="col-md-10 col-xs-10">
                            <div class="row">
                              <div class="col-md-2 col-xs-3">
                                <input name="asaSimples" type="text" class="form-control equipment" placeholder="">
                                <div class="help-block with-errors"></div>
                              </div>
                              <label class="col-md-3 col-xs-12 control-label">Asa Dupla</label>
                              <div class="col-md-2 col-xs-3">
                                <input name="asaDupla" type="text" class="form-control equipment" placeholder="">
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-md-2 col-xs-12 control-label">Adaptador Simples</label>
                          <div class="col-md-10 col-xs-10">
                            <div class="row">
                              <div class="col-md-2 col-xs-3">
                                <input name="adaptadorSimples" type="text" class="form-control equipment" placeholder="">
                                <div class="help-block with-errors"></div>
                              </div>
                              <label class="col-md-3 col-xs-12 control-label">Colete Sidemount c/ Rigs</label>
                              <div class="col-md-2 col-xs-3">
                                <input name="coleteSidemount" type="text" class="form-control equipment" placeholder="">
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-md-2 col-xs-12 control-label">Reguladores dupla (kit)</label>
                          <div class="col-md-10 col-xs-10">
                            <div class="row">
                              <div class="col-md-2 col-xs-3">
                                <input name="reguladoresDupla" type="text" class="form-control equipment" placeholder="">
                                <div class="help-block with-errors"></div>
                              </div>
                              <label class="col-md-3 col-xs-12 control-label">Regulador stage</label>
                              <div class="col-md-2 col-xs-3">
                                <input name="reguladorStage" type="text" class="form-control equipment" placeholder="">
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-md-2 col-xs-12 control-label">Reguladores side (kit)</label>
                          <div class="col-md-10 col-xs-10">
                            <div class="row">
                              <div class="col-md-2 col-xs-3">
                                <input name="reguladoresSide" type="text" class="form-control equipment" placeholder="">
                                <div class="help-block with-errors"></div>
                              </div>
                              <label class="col-md-3 col-xs-12 control-label">Rigs stage / Sidemount</label>
                              <div class="col-md-2 col-xs-3">
                                <input name="rigsStage" type="text" class="form-control equipment" placeholder="">
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-md-2 col-xs-12 control-label">Lanterna primária</label>
                          <div class="col-md-10 col-xs-10">
                            <div class="row">
                              <div class="col-md-2 col-xs-3">
                                <input name="lanternaPrimaria" type="text" class="form-control equipment" placeholder="">
                                <div class="help-block with-errors"></div>
                              </div>
                              <label class="col-md-3 col-xs-12 control-label">Scooter</label>
                              <div class="col-md-2 col-xs-3">
                                <input name="scooter" type="text" class="form-control equipment" placeholder="">
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-md-2 col-xs-12 control-label">Rebreather</label>
                          <div class="col-md-10 col-xs-12">
                            <div class="row">
                              <div class="col-md-2 col-xs-3">
                                <input name="rebreather" type="text" class="form-control equipment" placeholder="">
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>


                      <hr>


                      <div class="form-group row">

                        <div class="col-md-11 col-xs-11 bold">
                          <input id="checkPousada" type="checkbox" value="equipamentos"> Reservar Pousada
                          <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Dados da reserva"></i>
                        </div>
                      </div>
                      <div id="pousada" class="">
                        <div class="form-group row miniHeader">
                          <label class="col-md-5 col-xs-12 row">Dados necessário para reserva:</label>
                        </div>

                        <div class="form-group">
                          <label class="col-md-2 col-xs-12 control-label">Data Entrada*</label>
                          <div class="col-md-2 col-xs-12">
                            <input id="dataEntrada" name="dataEntrada" type="text" class="form-control" placeholder="" data-error="A data de entrada é obrigatória">
                            <div class="help-block with-errors"></div>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-md-2 col-xs-12 control-label">Data Saída*</label>
                          <div class="col-md-2 col-xs-12">
                            <input id="dataSaida" name="dataSaida" type="text" class="form-control" placeholder="" data-error="A data de saída é obrigatória">
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-md-2 col-xs-12 control-label">Tipo do apartamento*</label>
                          <div class="col-md-10 col-xs-12">
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12">
                                <!-- Split button -->
                                <div class="btn-group">
                                  <button id="btnTipoAp" type="button" class="btn btn-info">Selecione</button>
                                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                  </button>
                                  <ul id="comboTipoAp" class="dropdown-menu" role="menu">
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-md-2 col-xs-12 control-label">Responsável*</label>
                          <div class="col-md-10 col-xs-12">
                            <input id="nomeReserva" type="text" name="responsavel" class="form-control" placeholder="Nome e sobrenome do responsável pela reserva">
                          </div>
                          <label class="col-md-2 col-xs-12 control-label">Mergulhador?</label>
                          <div class="col-md-6 col-xs-12">
                            <input checked id="respDiverYes" type="radio" name="responsavelRadio"> Sim</label>
                            <input id="respDiverNo" type="radio" name="responsavelRadio"> Nao</label>
                          </div>
                        </div>

                        <div class="form-group acomp1" style="display: none;">
                          <label class="col-md-2 col-xs-12 control-label">Acompanhante 1*</label>
                          <div class="col-md-10 col-xs-12">
                            <input id="acomp1" type="text" name="acomp1" class="form-control" placeholder="Nome e sobrenome do acompanhante" data-error="O nome é obrigatório">
                            <div class="help-block with-errors"></div>
                          </div>
                          <label class="col-md-2 col-xs-12 control-label">Mergulhador?</label>
                          <div class="col-md-6 col-xs-12">
                            <input checked id="firstDiverYes" type="radio" name="mergulhador1"> Sim</label>
                            <input id="firstDiverNo" type="radio" name="mergulhador1"> Nao</label>
                          </div>
                        </div>

                        <div class="form-group acomp2" style="display: none;">
                          <label class="col-md-2 col-xs-12 control-label">Acompanhante 2*</label>
                          <div class="col-md-10 col-xs-12">
                            <input id="acomp2" type="text" name="acomp2" class="form-control" placeholder="Nome e sobrenome do segundo acompanhante" data-error="O nome é obrigatório">
                            <div class="help-block with-errors"></div>
                          </div>
                          <label class="col-md-2 col-xs-12 control-label">Mergulhador?</label>
                          <div class="col-md-6 col-xs-12">
                            <input checked id="secondDiverYes" type="radio" name="mergulhador2"> Sim</label>
                            <input id="secondDiverNo" type="radio" name="mergulhador2"> Nao</label>
                          </div>
                        </div>


                        <div class="form-group acomp3" style="display: none;">
                          <label class="col-md-2 col-xs-12 control-label">Acompanhante 3*</label>
                          <div class="col-md-10 col-xs-12">
                            <input id="acomp3" type="text" name="acomp3" class="form-control" placeholder="Nome e sobrenome do terceiro acompanhante" data-error="O nome é obrigatório">
                            <div class="help-block with-errors"></div>
                          </div>
                          <label class="col-md-2 col-xs-12 control-label">Mergulhador?</label>
                          <div class="col-md-6 col-xs-12">
                            <input checked id="thirdDiverYes" type="radio" name="mergulhador3"> Sim</label>
                            <input id="thirdDiverNo" type="radio" name="mergulhador3"> Nao</label>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-md-2 col-xs-12 control-label">Observações <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Observações da pousada"></i></label>
                          <div class="col-md-10 col-xs-12">
                            <textarea id="observacoes" class="form-control" rows="3"></textarea>
                            <div class="help-block with-errors"></div>
                          </div>
                        </div>

                      </div>

                    </div>
                  </div>


                  <hr>

                  <div class="submitReserva text-center">
                    <button type="submit" class="btn btn-success btn-lg btn-raised" id="btnConfirmar">
                      <span class="glyphicon glyphicon-thumbs-up"></span> Confirmar Reserva
                    </button>
                  </div>
              </form>
              </div>

            </div>

          </div>

        </div>
      </div>
</body>

</html>