<div class="form-group row">
    <label class="col-md-2 col-xs-2 control-label"></label>
    <div class="col-md-2 col-xs-4">
      <input id="dataMergulho" type="text" name="regular" class="form-control" value="{{date}}" disabled>
    </div>
    <div class="col-md-1 col-xs-1 btnRemoveDate">
        <button type="button" class="btn btn-danger btn-xs">
          <span class="glyphicon glyphicon-remove-sign"></span> Remover
        </button>
    </div>
</div>