<div class="row lineOpItem">
  <div class="row-height">
    <div class="col-md-2 col-xs-4 col-height pdRight">
      <div class="cell text-center">
        <div class="content">{{date}}</div>
      </div>
    </div>
    <div class="col-md-9 col-xs-5 col-height col-middle pdRight pdLeft">
      <div class="cell">
        <div class="content">{{name}}</div>
      </div>
    </div>
    <div class="col-md-1 col-xs-3 col-height col-bottom pdLeft">
      <div class="cell">
        <div class="content">
          <button class="btn btn-danger btn-xs btn-raised btnRemoveOp">
            <span class="mdi-content-clear"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>