.divInputs {
  display: inline-block;
  width: 310px;
}

.inputOp {
  margin: 5px;
}

#opDate {
  text-align: center;
}

#opName {
  text-align: center;
}

.opPanel {

}

.panel-heading {
  text-align: center;
}

.panel-primary>.panel-heading {
  background-image: linear-gradient(to bottom,#1F1F1F 0,#1F1F1F 100%);
}

.cell {
  padding: 8px;
  height: 50px;
  line-height: 2.2;
  overflow: hidden;
  border: 1px solid;
  font-weight: 500;
}

.btnRemoveOp {
  margin: 0 !important;
  float: right;
}

@media only screen and (max-device-width: 500px) {

}

.lineOpItem {

}

.pdRight{
  padding-right: 0;
}

.pdLeft{
  padding-left: 0;
}