.divInputs {
  display: inline-block;
  width: 310px;
}

.inputOp {
  margin: 5px;
  height: 40px !important;
}

#opDate {
  text-align: center;
}

#opName {
  text-align: center;
}

.ui-datepicker {
    width: 310px;
}

.panel-heading {
  text-align: center;
}

.panel-primary>.panel-heading {
  background-image: linear-gradient(to bottom,#1F1F1F 0,#1F1F1F 100%);
}

.cell {
  padding: 8px;
  height: 50px;
  line-height: 2.2;
  overflow: hidden;
  border: 1px solid;
  font-weight: 500;
}

.btnRemoveOp {
  margin: 0 !important;
  float: right;
}

@media only screen and (max-device-width: 500px) {

  .btn.btn-xs {
    padding: 4px 8px !important;
  }

  .opContainer {
    padding-right: 4px !important;
    padding-left: 4px !important;
  }

}

.lineOpItem {

}

.pdRight{
  padding-right: 0;
}

.pdLeft{
  padding-left: 0;
}

.dynatable-active-page:hover, th a, th a:hover {
  color: black!important;
}

.tableContainer {
  padding: 8px;
}

#opTable>thead {
  background-color: lightgray;
}

caption, th {
  text-align: center;
}

.deleteColumn {
  width: 72px;
}

.statusColumn {
  width: 126px;
}

.dateColumn {
  width: 134px;
}
