.divInputs {
  display: inline-block;
  width: 310px;
}

.inputOp {
  margin: 5px;
}

#opDate {
  text-align: center;
}

#opName {
  text-align: center;
}

.opPanel {

}

.panel-heading {
  text-align: center;
}

.panel-primary>.panel-heading {
  background-image: linear-gradient(to bottom,#1F1F1F 0,#1F1F1F 100%);
}