.comboOpenOperations {
  display: inline-block;
  width: 310px;
  font-size: 16px;
}

td < .checkbox:parent {
  padding: 0;
}

@media only screen and (min-device-width: 500px) {
  .btnViewDetails {
    margin: 0 !important;
    float: right;
    padding: 3px !important;
    font-size: 3px !important;
    width: 35px !important;
    height: 35px !important;
    margin-right: 11px!important;
  }
  .pdLeftXs {
    padding-left: 1px;
  }

  .pdRightXs {
    padding-right: 1px;
  }
  .detailsColumn {
    width: 70px;
  }

  .approveColumn {
    width: 68px;
  }

  .dateColumn {
    width: 134px;
  }

  .tankColumn {
    width: 94px;
  }

  .gearColumn {
    width: 128px;
  }

  .innColumn {
    width: 90px;
  }

  .checkboxColumn {
    width: 68px;
  }

  .btnDeleteReservation {
    margin: 0 0 0 15px !important;
  }
}

@media only screen and (max-device-width: 500px) {
  .btn.btn-xs {
    padding: 4px 8px !important;
  }

  .opContainer {
    padding-right: 4px !important;
    padding-left: 4px !important;
  }

  .dateColumn {
    width: 88px !important;
  }
  .detailsColumn {
    width: 60px;
  }
  .approveColumn {
    width: 60px;
  }
  .checkboxColumn {
    width: 34px;
  }
  .cfTable {
    margin-top: 8px;
  }
  .cfContainer {
    padding: 2px;
  }
  .paddingRight {
    padding-right: 15px !important;
  }
  #dynatable-query-search-cfTable {
    width: 110px;
  }
  .btnViewDetails {
    margin: 0 9px 0 0!important;
    float: right;
    font-size: 6px!important;
    width: 39px!important;
    height: 38px!important;
  }
  .summaryDiv {
    width: 100% !important;
    margin: 0 auto;
  }
  .btnDeleteReservation {
    margin: 0 0 0 7px !important;
  }
}

#cfTable>thead {
  background-color: lightgray;
}

.cfContainer {
  margin-top: 20px;
}

.container-client {
  padding-top: 5px;
}

.container-inn {
  padding-top: 5px;
}

.paddingRight {

}

.summaryDiv {
  width: 600px;
  margin: 0 auto;
}

.container-summary {
  padding: 15px;
  margin: auto; max-width: 450px;
}

.underline {
  text-decoration: underline;
}

.summarySeparator {
  background-color: lightgrey;
}

.h5margin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.sumaryRow {
  max-width: 400px;
}

.togglebutton label input[type=checkbox]:checked+.toggle, .togglebutton-default label input[type=checkbox]:checked+.toggle {
    background-color: #73B576!important
}

.togglebutton label input[type=checkbox]:checked+.toggle:after, .togglebutton-default label input[type=checkbox]:checked+.toggle:after {
    background-color: #4CAF50 !important;
}

.summaryContainer {
  padding: 2px;
}

.confirmOpBtnDiv {
  margin-top: 15px;
  margin-bottom: 15px;
}

