<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Divegold - Gerar Planilha</title>
  <!-- Login CSS -->
  <link href="css/divegold.min.css" rel="stylesheet">
  <!-- JS  -->
  <script src="js/divegold.min.js"></script>
  <!-- <script type="text/javascript" src="js/reserva.js"></script> -->

  <!-- Logo -->
  <link rel="icon" type="image/png" href="https://s3-sa-east-1.amazonaws.com/felipemedia/divegold_logo.png">
</head>

<body>

  <div class="navbar navbar-material-black navbarShadow">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-material-light-blue-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand dgTitle" href="/home.html"><img src="https://s3-sa-east-1.amazonaws.com/felipemedia/divegold_logo.png" class="dgLogo" width="40" height="40" alt="DiveGold Logo">Divegold</a>
    </div>
    <div class="navbar-collapse collapse navbar-material-light-blue-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/operacoes.html">Operações</a></li>
        <li><a href="/confirmar-reservas.html">Reservas</a></li>
        <li class="active"><a href="/planilhas.html">Planilhas</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:void(0)">Sair</a></li>
      </ul>
    </div>
  </div>

  <div class="center container text-center">
    <div class="painelGerarPlanilhas">

      <div class="">
        <h3> Gerar Planilhas de Operação</h3>
      </div>

      <div>
        <h5>Operações</h5>
      </div>
      <div class="row">
        <div>
          <select class="form-control comboOperacoes" placeholder="Your favorite pastry">

          </select>
        </div>
      </div>

      <div class="">
        <button id="btnGenerate" class="btn btn-success btn-lg btn-raised">
          <span class="mdi-action-description"></span> Gerar Planilhas
        </button>
      </div>
    </div>
  </div>


</body>

</html>